.info-block {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 980px;
	min-height: 440px;
	margin: 30px 10px 0px 10px;
	

	&__text-margin {
		margin-right: 50px;
	}

	p {
		width: 370px;
		height: 240px;
		font-size: 15px;
		color: $color-text;
	}
}