

$ff-Open_Sans: 'Open Sans', sans-serif;
$ff-Open_Sans_Cund: 'Open Sans Condensed', sans-serif;

$fz-title: 40px;
$fz-menu: 30px;
$fz-button: 24px;
$fz-text: 14px;
$fz-card-price: 28px;
$fz-card-info: 18px;

$bcg-head: #dcdcdc;
$bcg-color: #777777;

$color-phone: #767676;
$color-link: #fff;
$color-text: #767676;
$color-link-hover: #000;
$color-card-price: #444444;
